@use 'src/sass/variables';

.lp-link {
  @include variables.link;
  color: variables.$white;

  &--purple {
    color: variables.$secondary-color;
  }

  &--margin-24 {
    margin: 0 24px;
  }
}

.lp-hero {
  height: 616px;
  margin-top: -64px;
  background-image: url(../../assets/images/header-image.png), variables.$gradient;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template: 200px auto/auto minmax(auto, 708px) auto;
  grid-template-areas:
    ". . ."
    ". title img";
  @media (max-width: variables.$lg-screen) {
    height: 540px;
    padding: 0 8px;
    grid-template: 152px/100% 100%;
    grid-template-areas:
    "."
    "title";
  }
  @media (max-width: variables.$md-screen) {
    background-image: url(../../assets/images/header-image-mobile.png), variables.$gradient;
  }

  &__area-title {
    grid-area: title;
    @media (max-width: variables.$lg-screen) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__area-img{
    grid-area: img;
    margin-top: -32px;
    @media (max-width: variables.$lg-screen) {
      display: none;
    }
  }

  &__title {
    max-width: 490px;
    @media (max-width: variables.$lg-screen) {
      text-align: center;
    }
    @media (max-width: variables.$md-screen) {
      max-width: 277px;
    }
  }

  &__description {
    @include variables.body-lg;
    color: variables.$white;
    max-width: 584px;
    margin: 24px 0 40px;
    @media (max-width: variables.$lg-screen) {
      @include variables.body-md;
      text-align: center;
      margin-bottom: 66px;
    }
    @media (max-width: variables.$md-screen) {
      max-width: 328px;
    }
  }

  &__flex-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 310px;
  }

  &__button {
    background: transparent;
  }
}

.lp-body {
  height: auto;
  background-color: variables.$background;

  &__white-area {
    width: 100%;
    height: 112px;
    background-color: variables.$white;
    border-bottom: 1px solid variables.$grey-88;
    @media (max-width: variables.$lg-screen) {
      height: auto;
      padding: 32px 0;
    }
  }

  &__white-area-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    height: 100%;
    margin: auto;

    >span {
      @media (max-width: variables.$md-screen) {
        @include variables.h5;
      }
    }
  }

  &__white-area-link-wraper {
    width: auto;
    @media (max-width: variables.$md-screen) {
      width: 100%;
    }

    >a {
      display: block;
      text-align: center;
      @media (max-width: variables.$md-screen) {
        width: 212px;
        margin: 16px auto;
      }
    }
  }

  &__main-container {
    max-width: 1024px;
    margin: auto;
    padding: 88px 0;
    @media (max-width: variables.$lg-screen) {
      padding: 24px 16px;
    }
    @media (max-width: variables.$xs-screen) {
      padding: 24px 8px;
    }
  }

  &__section {
    padding: 32px 0;
    display: grid;
    grid-gap: 40px;
    grid-template: repeat(2, auto) 100%/44% auto;
    grid-template-areas: 
      "title img"
      "text img"
      "link img";

    * {
      @media (max-width: variables.$lg-screen) {
        margin: 0 auto;
        text-align: center;
      }
    }

    &--left-image {
      grid-template-areas: 
      "img title"
      "img text"
      "img link";
    }

    &--mobile {
      @media (max-width: variables.$lg-screen) {
        grid-gap: 32px;
        grid-template: initial;
        grid-template-areas: 
        "img"
        "title"
        "text"
        "link";
      }
    }
  }

  &__section-inputs {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__section-column {
    padding: 32px 0;
    text-align: center;
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 
      "title"
      "text"
      "link"
      "img";
    @media (max-width: variables.$lg-screen) {
      grid-gap: 32px;
      grid-template-areas:
      "title"
      "text"
      "link";
    }

    * {
      @media (max-width: variables.$lg-screen) {
        margin: 0 auto;
        text-align: center;
      }
    }

    &--no-link {
      grid-template-areas: 
        "img"
        "title"
        "text";
      @media (max-width: variables.$lg-screen) {
        grid-gap: 32px;
      }
    }
  }

  &__section-title {
    @include variables.h2;
    grid-area: title;
    color: variables.$grey-24;
    @media (max-width: variables.$lg-screen) {
      @include variables.h3;
    }

    &--narrow {
      width: 240px;
    }

    &--mobile-narrow {
      @media (max-width: variables.$lg-screen) {
        width: 240px;
      }
    }

    &--inputs {
      @include variables.h3;
    }
  }

  &__section-text {
    @include variables.body-md;
    grid-area: text;
    color: variables.$grey-24;
    opacity: 0.9;

    &--inputs {
      margin: 16px 0 64px;
      @media (max-width: variables.$lg-screen) {
        margin: 16px 0;
      }
    }
  }

  &__section-img {
    grid-area: img;
    height: fit-content;
    
    >img {
      max-width: 100%;
    }

    &--no-mobile-img {
      @media (max-width: variables.$lg-screen) {
        display: none;
      }
    }
  }

  &__section-link {
    grid-area: link;
  }

  &__line-container {
    display: flex;
    margin: 40px 0;
  }
}

