@use 'src/sass/variables';

.header {
  height: 64px;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 0 16px;

  &__page-links {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__link-list {
    margin-right: 32px;
    &:first-child {
      margin-left: 40px;
    }
    @media (max-width: variables.$lg-screen) {
      display: none;
    }
  }

  &__link {
    @include variables.h5;
    text-decoration: none;
    color: variables.$white;
  }

  &__button {
    @include variables.h5;
    background: variables.$primary-color;
    color: variables.$white;
    height: 44px;
    padding: 0 22px;
    border-radius: 4px;
    @media (max-width: variables.$sm-screen) {
      padding: 0 8px;
    }

    &--no-background {
      background: transparent;
      @media (max-width: variables.$lg-screen) {
        display: none;
      }
    }
  }
}