@use 'src/sass/variables';

.footer {
  height: 540px;
  box-sizing: border-box;
  padding-top: 80px;
  background-color: variables.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: variables.$grey-24;
  @media (max-width: variables.$md-screen) {
    padding-top: 40px;
    height: auto;
  }

  &__title {
    @include variables.h2;
    @media (max-width: variables.$md-screen) {
      @include variables.h3;
    }
  }

  &__text {
    @include variables.body-lg;
    margin: 8px 0 24px;
    @media (max-width: variables.$md-screen) {
      @include variables.body-md;
    }
  }

  &__button {
    background-color: variables.$secondary-color;
    color: variables.$white;
    width: 304px;
    height: 68px;
    border-radius: 4px;
    display: grid;
    grid-template: 8px 32px auto/24px 52px auto;
    grid-template-areas:
      ". . ."
      ". icon title"
      ". icon text";
  }

  &__button-image {
    grid-area: icon;
    margin-top: 10px;
  }

  &__button-title {
    @include variables.body-md;
    grid-area: title;
    text-align: left;
  }

  &__button-text {
    @include variables.body-xs;
    grid-area: text;
    text-align: left;
  }

  &__purple-link {
    @include variables.link;
    color: variables.$secondary-color;
    margin: 24px 0 72px;
    @media (max-width: variables.$md-screen) {
      margin-bottom: 48px; 
    }
  }

  &__page-links {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 128px 75px;
    @media (max-width: variables.$md-screen) {
      padding: 0;
    }
  }

  &__logo-container {
    width: 173px;
    @media (max-width: variables.$md-screen) {
      width: 100%;
      text-align: center;
    }
  }

  &__links-list {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    @media (max-width: variables.$md-screen) {
      width: 100%;
      padding: 0 64px;
      margin: 24px 0;
    }
    @media (max-width: variables.$xs-screen) {
      padding: 0 16px;
    }

    >a {
      @include variables.h5;
      color: variables.$grey-24;
      text-decoration: none;
      margin-right: 15px;
      margin-left: 15px;
      @media (max-width: variables.$md-screen) {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }

  &__social-links {
    @media (max-width: variables.$md-screen) {
      width: 100%;
      text-align: center;
    }
    >a {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__copyright {
    @include variables.body-xs;
    color: variables.$grey-24;
    opacity: 0.6;
    @media (max-width: variables.$md-screen) {
      margin-bottom: 24px;
    }
    @media (max-width: variables.$xs-screen) {
      padding: 0 54px;
      text-align: center;
    }
  }

  &__line-container {
    display: none;
    @media (max-width: variables.$md-screen) {
      display: flex;
      width: 100%;
      margin: 40px 0 24px;
    }
  }
}